infs7204_soa/Pracs/CarRentalTestApp/CarRentalTestApp/Web References/CardVerifyWebRef/CardVerification.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckCC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CardNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckCCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckCCResult" type="tns:ReturnIndicator" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ReturnIndicator">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CardType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CardValid" type="s:boolean" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckCCSoapIn">
    <wsdl:part name="parameters" element="tns:CheckCC" />
  </wsdl:message>
  <wsdl:message name="CheckCCSoapOut">
    <wsdl:part name="parameters" element="tns:CheckCCResponse" />
  </wsdl:message>
  <wsdl:portType name="CardVerificationSoap">
    <wsdl:operation name="CheckCC">
      <wsdl:input message="tns:CheckCCSoapIn" />
      <wsdl:output message="tns:CheckCCSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CardVerificationSoap" type="tns:CardVerificationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckCC">
      <soap:operation soapAction="http://tempuri.org/CheckCC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CardVerificationSoap12" type="tns:CardVerificationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckCC">
      <soap12:operation soapAction="http://tempuri.org/CheckCC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CardVerification">
    <wsdl:port name="CardVerificationSoap" binding="tns:CardVerificationSoap">
      <soap:address location="http://localhost:58158/CardVerification.asmx" />
    </wsdl:port>
    <wsdl:port name="CardVerificationSoap12" binding="tns:CardVerificationSoap12">
      <soap12:address location="http://localhost:58158/CardVerification.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>