infs7204_soa/Pracs/Practical1 (2)/Practical1/Web References/Time/CurrentTimeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Current Time Service Description</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="currentTime">
        <s:complexType />
      </s:element>
      <s:element name="currentTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="currentTimeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="currentTimeSoapIn">
    <wsdl:part name="parameters" element="tns:currentTime" />
  </wsdl:message>
  <wsdl:message name="currentTimeSoapOut">
    <wsdl:part name="parameters" element="tns:currentTimeResponse" />
  </wsdl:message>
  <wsdl:portType name="CurrentTimeServiceSoap">
    <wsdl:operation name="currentTime">
      <wsdl:input message="tns:currentTimeSoapIn" />
      <wsdl:output message="tns:currentTimeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CurrentTimeServiceSoap" type="tns:CurrentTimeServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="currentTime">
      <soap:operation soapAction="http://tempuri.org/currentTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CurrentTimeServiceSoap12" type="tns:CurrentTimeServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="currentTime">
      <soap12:operation soapAction="http://tempuri.org/currentTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CurrentTimeService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Current Time Service Description</wsdl:documentation>
    <wsdl:port name="CurrentTimeServiceSoap" binding="tns:CurrentTimeServiceSoap">
      <soap:address location="http://localhost:49273/CurrentTimeService.asmx" />
    </wsdl:port>
    <wsdl:port name="CurrentTimeServiceSoap12" binding="tns:CurrentTimeServiceSoap12">
      <soap12:address location="http://localhost:49273/CurrentTimeService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>