infs7204_soa/Pracs/Practical2/Practical2Task1/Practical2Task1/Web References/textReplaceWebRef/textReplace.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Replace particular text</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="textFindReplace">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="source" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="target" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="textFindReplaceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="textFindReplaceResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="textFindReplaceSoapIn">
    <wsdl:part name="parameters" element="tns:textFindReplace" />
  </wsdl:message>
  <wsdl:message name="textFindReplaceSoapOut">
    <wsdl:part name="parameters" element="tns:textFindReplaceResponse" />
  </wsdl:message>
  <wsdl:portType name="textReplaceSoap">
    <wsdl:operation name="textFindReplace">
      <wsdl:input message="tns:textFindReplaceSoapIn" />
      <wsdl:output message="tns:textFindReplaceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="textReplaceSoap" type="tns:textReplaceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="textFindReplace">
      <soap:operation soapAction="http://tempuri.org/textFindReplace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="textReplaceSoap12" type="tns:textReplaceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="textFindReplace">
      <soap12:operation soapAction="http://tempuri.org/textFindReplace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="textReplace">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Replace particular text</wsdl:documentation>
    <wsdl:port name="textReplaceSoap" binding="tns:textReplaceSoap">
      <soap:address location="http://localhost:49860/textReplace.asmx" />
    </wsdl:port>
    <wsdl:port name="textReplaceSoap12" binding="tns:textReplaceSoap12">
      <soap12:address location="http://localhost:49860/textReplace.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>