infs7204_soa/Pracs/Sample/prac2-1WebApplication/prac2-1WebApplication/Web References/wordReplaceRef/wordReplace.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="replace">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="oldWord" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newWord" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="replaceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="replaceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="replaceSoapIn">
    <wsdl:part name="parameters" element="tns:replace" />
  </wsdl:message>
  <wsdl:message name="replaceSoapOut">
    <wsdl:part name="parameters" element="tns:replaceResponse" />
  </wsdl:message>
  <wsdl:portType name="wordReplaceSoap">
    <wsdl:operation name="replace">
      <wsdl:input message="tns:replaceSoapIn" />
      <wsdl:output message="tns:replaceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wordReplaceSoap" type="tns:wordReplaceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="replace">
      <soap:operation soapAction="http://tempuri.org/replace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wordReplaceSoap12" type="tns:wordReplaceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="replace">
      <soap12:operation soapAction="http://tempuri.org/replace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wordReplace">
    <wsdl:port name="wordReplaceSoap" binding="tns:wordReplaceSoap">
      <soap:address location="http://localhost:49321/wordReplace.asmx" />
    </wsdl:port>
    <wsdl:port name="wordReplaceSoap12" binding="tns:wordReplaceSoap12">
      <soap12:address location="http://localhost:49321/wordReplace.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>