infs7204_soa/Pracs/Practical2/Practical2Task1/Practical2Task1/Web References/wordCounterWebRef/wordCounterService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Counting number of words</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="countWord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="countWordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="countWordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="countWordSoapIn">
    <wsdl:part name="parameters" element="tns:countWord" />
  </wsdl:message>
  <wsdl:message name="countWordSoapOut">
    <wsdl:part name="parameters" element="tns:countWordResponse" />
  </wsdl:message>
  <wsdl:portType name="WordCountSoap">
    <wsdl:operation name="countWord">
      <wsdl:input message="tns:countWordSoapIn" />
      <wsdl:output message="tns:countWordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WordCountSoap" type="tns:WordCountSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="countWord">
      <soap:operation soapAction="http://tempuri.org/countWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WordCountSoap12" type="tns:WordCountSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="countWord">
      <soap12:operation soapAction="http://tempuri.org/countWord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WordCount">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Counting number of words</wsdl:documentation>
    <wsdl:port name="WordCountSoap" binding="tns:WordCountSoap">
      <soap:address location="http://localhost:49860/wordCounterService.asmx" />
    </wsdl:port>
    <wsdl:port name="WordCountSoap12" binding="tns:WordCountSoap12">
      <soap12:address location="http://localhost:49860/wordCounterService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>