infs7204_soa/Pracs/Practical1 (2)/Practical1/Web References/Age/CalculateAgeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="calculateAge">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dob" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calculateAgeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="calculateAgeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="calculateAgeSoapIn">
    <wsdl:part name="parameters" element="tns:calculateAge" />
  </wsdl:message>
  <wsdl:message name="calculateAgeSoapOut">
    <wsdl:part name="parameters" element="tns:calculateAgeResponse" />
  </wsdl:message>
  <wsdl:portType name="CalculateAgeServiceSoap">
    <wsdl:operation name="calculateAge">
      <wsdl:input message="tns:calculateAgeSoapIn" />
      <wsdl:output message="tns:calculateAgeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalculateAgeServiceSoap" type="tns:CalculateAgeServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="calculateAge">
      <soap:operation soapAction="http://tempuri.org/calculateAge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CalculateAgeServiceSoap12" type="tns:CalculateAgeServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="calculateAge">
      <soap12:operation soapAction="http://tempuri.org/calculateAge" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculateAgeService">
    <wsdl:port name="CalculateAgeServiceSoap" binding="tns:CalculateAgeServiceSoap">
      <soap:address location="http://localhost:49273/CalculateAgeService.asmx" />
    </wsdl:port>
    <wsdl:port name="CalculateAgeServiceSoap12" binding="tns:CalculateAgeServiceSoap12">
      <soap12:address location="http://localhost:49273/CalculateAgeService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>