infs7204_soa/Pracs/Sample/Prac1WebService/P1WebApplication/Web References/mywebRef/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web service returns a Hello World message!</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="firstWebMethod">
        <s:complexType />
      </s:element>
      <s:element name="firstWebMethodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="firstWebMethodResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="firstWebMethodSoapIn">
    <wsdl:part name="parameters" element="tns:firstWebMethod" />
  </wsdl:message>
  <wsdl:message name="firstWebMethodSoapOut">
    <wsdl:part name="parameters" element="tns:firstWebMethodResponse" />
  </wsdl:message>
  <wsdl:portType name="Hello_x0020_World_x0020_Web_x0020_ServiceSoap">
    <wsdl:operation name="firstWebMethod">
      <wsdl:input message="tns:firstWebMethodSoapIn" />
      <wsdl:output message="tns:firstWebMethodSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Hello_x0020_World_x0020_Web_x0020_ServiceSoap" type="tns:Hello_x0020_World_x0020_Web_x0020_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="firstWebMethod">
      <soap:operation soapAction="http://tempuri.org/firstWebMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Hello_x0020_World_x0020_Web_x0020_ServiceSoap12" type="tns:Hello_x0020_World_x0020_Web_x0020_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="firstWebMethod">
      <soap12:operation soapAction="http://tempuri.org/firstWebMethod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Hello_x0020_World_x0020_Web_x0020_Service">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web service returns a Hello World message!</wsdl:documentation>
    <wsdl:port name="Hello_x0020_World_x0020_Web_x0020_ServiceSoap" binding="tns:Hello_x0020_World_x0020_Web_x0020_ServiceSoap">
      <soap:address location="http://localhost:50110/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Hello_x0020_World_x0020_Web_x0020_ServiceSoap12" binding="tns:Hello_x0020_World_x0020_Web_x0020_ServiceSoap12">
      <soap12:address location="http://localhost:50110/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>