infs7204_soa/Pracs/Sample/prac2-1WebApplication/prac2-1WebApplication/Web References/wordCounterRef/wordCounter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="wordCounter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="word" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wordCounterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="wordCounterResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="wordCounterSoapIn">
    <wsdl:part name="parameters" element="tns:wordCounter" />
  </wsdl:message>
  <wsdl:message name="wordCounterSoapOut">
    <wsdl:part name="parameters" element="tns:wordCounterResponse" />
  </wsdl:message>
  <wsdl:portType name="wordHighlighterSoap">
    <wsdl:operation name="wordCounter">
      <wsdl:input message="tns:wordCounterSoapIn" />
      <wsdl:output message="tns:wordCounterSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wordHighlighterSoap" type="tns:wordHighlighterSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="wordCounter">
      <soap:operation soapAction="http://tempuri.org/wordCounter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wordHighlighterSoap12" type="tns:wordHighlighterSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="wordCounter">
      <soap12:operation soapAction="http://tempuri.org/wordCounter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wordHighlighter">
    <wsdl:port name="wordHighlighterSoap" binding="tns:wordHighlighterSoap">
      <soap:address location="http://localhost:49321/wordCounter.asmx" />
    </wsdl:port>
    <wsdl:port name="wordHighlighterSoap12" binding="tns:wordHighlighterSoap12">
      <soap12:address location="http://localhost:49321/wordCounter.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>